body{
   background:gray;
}
h1{
   border: 2px solid green;
   font-size: 50px;
   padding: 30px;
   margin: 60px;
   text-align: center;
}
img{
   display: flex;
   height: 720px;
   width: 720px;
   margin-inline-start: auto;
   padding: 20px;
   border: 1px solid black;
}