{% extends "base.html" %}


{% block content %}

<div style="width: 50%; height:500px; margin:auto" class="pt-5">
    <h3>Movie Rating form </h3>
    <form method="post" action="/about/">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputName" class="form-label">Name</label>
          <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" name='username'>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='email'>
        </div>
        <select class="form-select" aria-label="Default select example" name="select">
            <option selected>Rate The Movie</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="2">Four</option>
            <option value="3">Five</option>
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}
