{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'first_app/css/firstt.css' %}">
</head>

<body>
    <h1>We are inside first App</h1>
    <img src="{% static 'first_app/image/mypicturee.png' %}" alt="picture">
    <!-- <h1>Author Name : {{Author}}</h1>
    {% if Age >= 18 %}
    <p>Eligable for Driving Licence</p>
    {% else %}
    <p>Childs Can not Drive</p>
    {%endif%}
    <table border="1" width=500>
        <tr>
            <th>ID</th>
            <th>Course</th>
            <th>Teacher</th>
        </tr>
        {% for i in Courses %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.courses}}</td>
            <td>{{i.teacher}}</td>
        </tr>
        {% endfor %}

    </table> -->
    
</body>

</html>